
$urlFont: '../fonts/';
//Montserrat
@font-face {
	font-family: 'Montserrat';
	src:url('#{$urlFont}Montserrat/Montserrat-Regular.woff2') format("woff2"),
	url('#{$urlFont}Montserrat/Montserrat-Regular.ttf') format("truetype");
	font-weight:400;
	font-style:normal
}
@font-face {
	font-family: 'Montserrat';
	src:url('#{$urlFont}Montserrat/Montserrat-SemiBold.woff2') format("woff2"),
	url('#{$urlFont}Montserrat/Montserrat-SemiBold.ttf') format("truetype");
	font-weight:600;
	font-style:normal
}
@font-face {
	font-family: 'Montserrat';
	src:url('#{$urlFont}Montserrat/Montserrat-Bold.woff2') format("woff2");
	font-weight:700;
	font-style:normal
}
//MuseoModerno
@font-face {
	font-family: 'MuseoModerno';
	src:url('#{$urlFont}MuseoModerno/MuseoModerno-Regular.ttf') format("truetype"),
	url('#{$urlFont}MuseoModerno/MuseoModerno-Regular.woff2') format("woff2");
	font-weight:400;
	font-style:normal
}
@font-face {
	font-family: 'MuseoModerno';
	src:url('#{$urlFont}MuseoModerno/MuseoModerno-SemiBold.ttf') format("truetype"),
	url('#{$urlFont}MuseoModerno/MuseoModerno-SemiBold.woff2') format("woff2");
	font-weight:600;
	font-style:normal
}
@font-face {
	font-family: 'MuseoModerno';
	src:url('#{$urlFont}MuseoModerno/MuseoModerno-Bold.ttf') format("truetype"),
	url('#{$urlFont}MuseoModerno/MuseoModerno-Bold.woff2') format("woff2");
	font-weight:700;
	font-style:normal
}